---

---

<html>
    <body class="h-screen">
       <section class="w-full h-full justify-center py-4">
        <h1 class="flex justify-center">Sobre Nosotros</h1>
        <div>
          <img src="./img/logo.png" alt="Lumina Learn Logo" />
          <h1>Lumina Learn</h1>
          <p>Somos visionarios que buscamos revolucionar el aprendizaje virtual. Únete a nuestra gran comunidad y comparte conocimientos en nuestros foros. 

            Nusestra principal preocupación es brindar el mejor contenido a nuestros estudiantes y fomentar la comunicación.
          </p>
        </div>
      
        <!-- Agrega más contenido aquí, como botones de registro o enlaces a los foros -->
     
       </section>
    </body>
</html>





