---
import Card from "./react/cards"
---


<html>
    <body class="h-screen">
       <section class="w-full justify-center">
        <h1 class="flex justify-center my-4 text-3xl font-bold sm:text-4xl">Categorias</h1>

        <div class="h-max flex flex-wrap gap-4 mx-6 justify-center">
            <!-- ! Tarjetas de Categorías  -->
             <!--*Categoría de Development -->
             <Card title={"Developoment"} image={"./img/design.jpg"} 
             topic={"Design"} description={"Desarrolla tu propio mundo"} route={"cursos/design"}/>

          <!--*Categoría de Idiomas -->
            <Card title={"Idiomas"} image={"./img/idiomas.jpg"} 
          topic={"Idiomas"} description={"Más de 10 idiomas disponibles"} route={"cursos/idiomas"}/>

          <!--*Categoría de Música -->
          <Card title={"Music"} image={"./img/musica.jpeg"} 
          topic={"Musica"} description={"Domina el arte de la música"} route={"cursos/musica"}/>

          <!-- *Categoria de Arte -->
          <Card title={"Arte"} image={"./img/arte.jpg"} 
          topic={"arte"} description={"Domina el arte de el lienzo de la vida"} route={"cursos/arte"}/>

          <!-- *Categoria de Cocina -->
          <Card title={"Cocina"} image={"./img/cocina.jpg"} 
          topic={"Cocina"} description={"Descubre el mundo culinario"} route={"cursos/cocina"}/>

          <!-- *Categoria de finanzas -->
          <Card title={"Finanzas"} image={"./img/finanzas.jpeg"} topic={"Finanzas"} description={"Maneja tus finanzas de manera correcta"} route={"cursos/finanzas"}/>
        </div>
       </section>
    </body>
</html>