---

---

<footer>
    <div class="relative min-h-1/10 bg-cyan-400">
        <!-- Todo tu contenido aquí -->
        <footer class="absolute inset-x-0 bottom-0 bg-gray-800 text-white text-center">
          <!-- Contenido del footer aquí -->
            <div class="container mx-auto py-4">
                <p class="text-sm">© 2022 Todos los derechos reservados. Diseñado por <a href="https://www.linkedin.com/in/alejandro-ramirez-ramirez/" class="underline">Franklin Amador</a></p>
        </footer>
      </div>
      
</footer>