---
console.log('xd')
---




<header>
    <!-- * Contenedor principal del header-->
    <div class="w-full bg-custom-1 h-16 py-2">
         <!-- * Agrupador -->
        <div class="flex flex-row ml-2 mx-2 h-11">
            <!-- * Contenedores del header-->
            <div class="container mx-auto flex justify-start h-full w-full">
                <img src="./img/logo.png" alt="Logo" class="h-11 w-11">

            <div class="flex justify-center items-center w-full">
                <a href="/" class="text-white"><h1 class="font-bold font-serif">Lumina Learn</h1></a></li>
            </div>

            <!-- * Sección de menú -->
            <div class="flex justify-end">
                <ul class="flex items-center">
                    <li class="mx-2"><a href="/empresas" class="text-white">Empresas</a></li>
                    <li class="mx-2"><a href="/registro" class="text-white">Registro</a></li>
                    <li class="mx-2"><a href="/login" class="text-white">Login</a></li>
                    
            </div>
                
                   
        </div>
    </div>
</header>

